body{
    background-color:  beige;
    text-align: center;
}

form{
    border: 1px solid gray;
    border-radius: 2px;
    margin: 20px;
    padding: 50px;
    width: 30%;
    
}
input, label, button{
    font-size: 20px;
    
}
input {
    margin-left: 20px;
}
div{
    margin-top: 10px;
}

